// .cube-picker-choose {
//   height: 45px !important;
//   font-size: 16px !important;
//   font-family: PingFangSC-Regular !important;
//   font-weight: 400 !important;
//   text-align: center !important;
// }

// .cube-picker-title {
//   font-size: 16px !important;
//   color: rgba(33, 33, 33, 1) !important;
// }

// .cube-picker-confirm,
// .cube-picker-cancel {
//   font-size: 16px !important;
//   color: rgba(55, 202, 124, 1) !important;
//   line-height: 45px !important;
// }

// .border-bottom-1px:after {
//   border: none !important;
// }

// .cube-image-preview-footer {
//   display: none !important; //去掉图片预览下面的文字
// }

// .cube-popup .cube-popup-content {
//   transform: rotate(90deg) !important;
// }
.cube-toast {
  .cube-popup-content {
    padding: 10px 20px;
    border-radius: 16px;
    .cube-toast-tip {
      max-width: 100% !important;
      font-size: 12px;
      line-height: 22px;
      color: #ffffff;
    }
  }
}
